*{
   padding: 0;
   margin: 0;

}
body{
    background-color: rgba(172, 99, 240, 0.274);
}
header{
    font-family: fantasy;
    font-size: xx-large;
    text-align: center;
    text-decoration: underline;
    background-color: rgba(137, 43, 226, 0.753);
    height: 80px;
    padding-top: 5px;
}
main{
    background-color: white;
    font-family: cursive;
    width: 80%;
    margin-left: 10%;
}